<div>
  <h2 id="page-heading" data-cy="SkillHeading">
    <span pamTranslate="plantyAssistantManagerApp.skill.home.title">Skills</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span pamTranslate="plantyAssistantManagerApp.skill.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-skill"
        [routerLink]="['/skill/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span pamTranslate="plantyAssistantManagerApp.skill.home.createLabel"> Create a new Skill </span>
      </button>
    </div>
  </h2>

  <pam-alert-error></pam-alert-error>

  <pam-alert></pam-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="skills?.length === 0">
    <span pamTranslate="plantyAssistantManagerApp.skill.home.notFound">No Skills found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="skills && skills.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr pamSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" pamSortBy="id">
            <div class="d-flex">
              <span pamTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" pamSortBy="name">
            <div class="d-flex">
              <span pamTranslate="plantyAssistantManagerApp.skill.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" pamSortBy="agentSharing">
            <div class="d-flex">
              <span pamTranslate="plantyAssistantManagerApp.skill.agentSharing">Agent Sharing</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" pamSortBy="users.login">
            <div class="d-flex">
              <span pamTranslate="plantyAssistantManagerApp.skill.users">Users</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let skill of skills; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/skill', skill.id, 'view']">{{ skill.id }}</a>
          </td>
          <td>{{ skill.name }}</td>
          <td>{{ skill.agentSharing }}</td>
          <td>
            <span *ngFor="let users of skill.users; let last = last"> {{ users.login }}{{ last ? '' : ', ' }} </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/skill', skill.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" pamTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/skill', skill.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" pamTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(skill)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" pamTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
