<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pairingRequest">
            <h2><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.detail.title">Pairing Request</span> {{pairingRequest.id}}</h2>
            <hr>
            <pam-alert-error></pam-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.name">Name</span></dt>
                <dd>
                    <span>{{pairingRequest.name}}</span>
                </dd>
                <dt><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.verificationCode">Verification Code</span></dt>
                <dd>
                    <span>{{pairingRequest.verificationCode}}</span>
                </dd>
                <dt><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.requestTime">Request Time</span></dt>
                <dd>
                    <span>{{pairingRequest.requestTime}}</span>
                </dd>
                <dt><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.accepted">Accepted</span></dt>
                <dd>
                    <span>{{pairingRequest.accepted}}</span>
                </dd>
                <dt><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.sessionId">Session Id</span></dt>
                <dd>
                    <span>{{pairingRequest.sessionId}}</span>
                </dd>
                <dt><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.publicKey">Public Key</span></dt>
                <dd>
                    <span>{{pairingRequest.publicKey}}</span>
                </dd>
                <dt><span jhiTranslate="plantyAssistantManagerApp.pairingRequest.login">Login</span></dt>
                <dd>
                    <span>{{pairingRequest.login}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pairing-request', pairingRequest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
