<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="pam-agent-heading" data-cy="AgentCreateUpdateHeading" pamTranslate="plantyAssistantManagerApp.agent.home.createOrEditLabel">
        Create or edit a Agent
      </h2>

      <div>
        <pam-alert-error></pam-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" pamTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" pamTranslate="plantyAssistantManagerApp.agent.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" pamTranslate="plantyAssistantManagerApp.agent.publicKey" for="field_publicKey">Public Key</label>
          <input type="text" class="form-control" name="publicKey" id="field_publicKey" data-cy="publicKey" formControlName="publicKey" />
        </div>

        <div class="row mb-3">
          <label class="form-label" pamTranslate="plantyAssistantManagerApp.agent.sessionId" for="field_sessionId">Session Id</label>
          <input type="text" class="form-control" name="sessionId" id="field_sessionId" data-cy="sessionId" formControlName="sessionId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" pamTranslate="plantyAssistantManagerApp.agent.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span pamTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span pamTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
