<div>
  <h2 id="page-heading" data-cy="AgentHeading">
    <span pamTranslate="plantyAssistantManagerApp.agent.home.title">Agents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span pamTranslate="plantyAssistantManagerApp.agent.home.refreshListLabel">Refresh list</span>
      </button>

      <!--
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-agent"
        [routerLink]="['/agent/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span pamTranslate="plantyAssistantManagerApp.agent.home.createLabel"> Create a new Agent </span>
      </button>
-->
    </div>
  </h2>

  <pam-alert-error></pam-alert-error>

  <pam-alert></pam-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="agents?.length === 0">
    <span pamTranslate="plantyAssistantManagerApp.agent.home.notFound">No Agents found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="agents && agents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr pamSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" pamSortBy="id">
            <div class="d-flex">
              <span pamTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" pamSortBy="name">
            <div class="d-flex">
              <span pamTranslate="plantyAssistantManagerApp.agent.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" pamSortBy="publicKey">
            <div class="d-flex">
              <span pamTranslate="plantyAssistantManagerApp.agent.publicKey">Public Key</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" pamSortBy="sessionId">
            <div class="d-flex">
              <span pamTranslate="plantyAssistantManagerApp.agent.sessionId">Session Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" pamSortBy="user.login">
            <div class="d-flex">
              <span pamTranslate="plantyAssistantManagerApp.agent.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agent of agents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/agent', agent.id, 'view']">{{ agent.id }}</a>
          </td>
          <td>{{ agent.name }}</td>
          <td>{{ agent.publicKey }}</td>
          <td>{{ agent.sessionId }}</td>
          <td>
            {{ agent.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/agent', agent.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" pamTranslate="entity.action.view">View</span>
              </button>
              <!-- 
              <button type="submit" [routerLink]="['/agent', agent.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" pamTranslate="entity.action.edit">Edit</span>
              </button>
 -->
              <button type="submit" (click)="delete(agent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" pamTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
