<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agent">
            <h2><span jhiTranslate="plantyAssistantManagerApp.agent.detail.title">Agent</span> {{agent.id}}</h2>
            <hr>
            <pam-alert-error></pam-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plantyAssistantManagerApp.agent.name">Name</span></dt>
                <dd>
                    <span>{{agent.name}}</span>
                </dd>
                <dt><span jhiTranslate="plantyAssistantManagerApp.agent.publicKey">Public Key</span></dt>
                <dd>
                    <span>{{agent.publicKey}}</span>
                </dd>
                <dt><span jhiTranslate="plantyAssistantManagerApp.agent.sessionId">Session Id</span></dt>
                <dd>
                    <span>{{agent.sessionId}}</span>
                </dd>
                <dt><span jhiTranslate="plantyAssistantManagerApp.agent.user">User</span></dt>
                <dd>
                    {{agent.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agent', agent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
